language: node_js
node_js:
- '10'
sudo: false
install:
- npm install --only=dev
- npm ci
before_script:
- node node_modules/eslint/bin/eslint.js .
script:
- node ./edenconfig.js
after_script:
- npm test
deploy:
  provider: npm
  email: alex@edenup.com
  api_key:
    secure: KUVxyyYRDqzOTC80tGibxWTIT7L3LLPffrN/cN8T/phSFCu+gR3c2hSfp4+47s7l43FPLKqfZdWtV+b6oGRxq/RUUhbK7OinT5qqXE8ZU9pxj/f/7JSgEoZBGUlUY20MUxnp5pueThF3P+DnXVrNI4IaCaBTWnPGOcBnng4JbiYI/s3fuzJVdwSn0GAz4fbn9Syw8XCcPN4mCkNsSLU2qgNwNBXE5bMx37L+8q9Nnt9fWnD+OW+ll0T2h8enQ7zBZkH9wvEy5OYD2hjsvg/GQ/1FdL1UaJBqswj1zExoOsIoIWTeIgGQNEeMIXFiCUAF+W23Ol9TkipdE4GZNvG1rONgr8YrZHXZYOw0KgI/QitVwLwxKyYrWIEVKB0+vZflqJEWkW3dGxgQ9x1otHb3nIlgELFhu6TbpAFZjvAcES8ovYPO7uOJAeocH3/Ia7aKJSDS4er+nqp9CGWL6b5XbJUUn72WVFgBk31NF3GXTcby3oyOFTjim4o4ZP9HQb5hxZVACYyb1axiI0dZKJvUQ5lYXSy5quzp2+6qXEnPE6dAsTPewwiYilCsqGirGrxQ/xVDLKjUOtA2QVRO0oaUJrYcrmcID+eZa/JXUzdtgcAPkA6MiqNaOLD3X+0y/mdJfbam2DBjDOFOx63Ev9GKAzCnwxHASkiIx5UuBIzJKcA=
  on:
    tags: true
    repo: eden-js/chat
